<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124992763448-nl37mb2957osesg3vvtf8s1ggobivudr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124992763448-nl37mb2957osesg3vvtf8s1ggobivudr</string>
	<key>API_KEY</key>
	<string>AIzaSyCgkNNXRrsz6rUuIt9krrWAQVOTTddUVnU</string>
	<key>GCM_SENDER_ID</key>
	<string>124992763448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withtone.withtone</string>
	<key>PROJECT_ID</key>
	<string>withtone-5d917</string>
	<key>STORAGE_BUCKET</key>
	<string>withtone-5d917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124992763448:ios:0e4f632e848d09ea2998cd</string>
</dict>
</plist>